<%- include('partials/_header.ejs') %>
<%- include('partials/_navbar.ejs') %>

<div class="container container-fluid">
    <div class="row">
        <%if(data){ 
            data.forEach( producto => {
                %>
        <div class="col-sm-4 col-xs-4">


            <div class="card mb-3">
                <img class="card-img img-rounded img-thumnnail"
                    src="http://localhost:3000/images/upload_images/<%=producto.imagen%>" alt="Produto"
                    id="imagen-logo" />
                <div class="card-img-overlay d-flex justify-content-end">
                    <a href="#" class="card-link text-danger like">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-truncate"><%=producto.nombre%></h4>
                    <h6 class="card-subtitle mb-2 text-muted">Código: VA33TXRJ5</h6>
                    <div>
                        <p class="card-text text-truncate">
                            <%=producto.descripcion%>
                        </p>
                    </div>
                    <div class="buy d-flex justify-content-between align-items-center">
                        <div class="price text-success">
                            <h5 class="mt-4">$ <%=producto.precio%></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <form action="/addCart/<%=producto.id%>/<%=sesion.id%>">
                    <button class="btn btn-danger"><i class="fas fa-shopping-cart"></i> Añadir al carrito</button>
                    </form>
                </div>
                <div class="col-4">
                    <form action="/productDetails/<%=producto.id%>">
                        <button class="btn btn-danger">Ver más</button>
                    </form>
                </div>
            </div>


        </div>
        <% } )}%>
    </div>

</div>


<%- include('partials/_footer.ejs') %>